<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="created  by shirdon"/>
    <title>用戶註冊</title>
    <link rel="stylesheet" href="/static/frontend/css/login.css"/>
    <script src="/static/frontend/js/jquery-1.10.1.js"></script>
</head>
<body class="register_page">
<div class="regist">
    <div class="regist_center">
        <div class="logo">
            <img src="/static/frontend/image/logo_top.png" alt="My Go Mall">
        </div>
        <div class="regist_top">
            <h2>註冊LeastMall</h2>
        </div>
        <div class="regist_main center">
            <p>請輸入密碼</p>
            <br>
            <br>
            <form action="/auth/doRegister" method="post" id="form">
                <input type="hidden" name="sign" value="{{.sign}}"/>
                <input type="hidden" name="sms_code" value="{{.sms_code}}"/>
                <div>
                    <input class="form_input" type="password" id="password" name="password" placeholder="請輸入密碼"/>
                </div>
                <div>
                    <input class="form_input" type="password" id="rpassword" name="rpassword" placeholder="請輸入確認密碼"/>
                </div>
                <div class="error">
                </div>
                <div class="regist_submit">
                    <input class="submit" id="nextStep" type="submit" name="submit" value="完成註冊">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#form").submit(function () {
            $(".error").html("")
            var password = $('#password').val();
            var rpassword = $('#rpassword').val();
            if (password.length < 6) {
                $(".error").html("用戶名的長度過短")
                return false;
            }
            if (password != rpassword) {
                $(".error").html("密碼和確認密碼不一致")
                return false;
            }
            return true;
        })
    })
</script>
</body>
</html>

