<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="created  by shirdon"/>
        <title>會員註冊</title>
        <link rel="stylesheet" href="/static/frontend/css/login.css"/>
        <script src="/static/frontend/js/jquery-1.10.1.js"></script>
    </head>
    <body class="register_page">
    <div class="regist">
        <div class="regist_center">
            <div class="logo">
                <img src="/static/frontend/image/logo_top.png" alt="My Go Mall">
            </div>
            <div class="regist_top">
                <h2>註冊LeastMall帳號</h2>
            </div>
            <div class="regist_main center">
                <input class="form_input" type="text" name="email" id="email" placeholder="請輸入信箱"/>
                <div class="yzm">
                    <input type="text" id="chart_code" name="chart_code" placeholder="請輸入圖形驗證碼"/>
                    {{create_captcha}}
                </div>
                <div class="error"></div>
                <div class="regist_submit">
                    <button class="submit" id="registerButton">
                        立即註冊
                    </button>
                </div>
                <br>
                <br>
                <div class="privacy_box">
                    <div class="msg">
                        <label class="n_checked now select-privacy">
                            <input type="checkbox" checked="true"/> 
                                註冊帳號即表示您同意遵守LeastMall商城 
                                <a href="https://github.com/" class="inspect_link " title="用戶協議" target="_self">用戶協議</a>
                                和
                                <a href="https://github.com/about/privacy/" class="inspect_link privacy_link" title=" 隱私政策 " target="_self"> 隱私政策 </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            /// 發送驗證碼
            $("#registerButton").click(function () {
                /// 驗證碼是否正確
                var email = $('#email').val();
                var chart_code = $('#chart_code').val();
                var phoneCodeId = $("input[name='captcha_id']").val();

                // var reg = /^[\d]{11}$/;
                // if (!reg.test(phone)) {
                //     $(".error").html("Error: 手機輸入錯誤 ");
                //     return false;
                // }
                // if (chart_code.length < 4) {
                //     $(".error").html("Error: 圖形驗證錯誤")
                //     return false;
                // }

                $.get('/auth/sendCode', {
                    email: email,
                    chart_code: chart_code,
                    phoneCodeId: phoneCodeId
                }, function (response) {
                    console.log(response)
                    if (response.success == true) {
                        /// 跳到下一頁
                        location.href = "/auth/registerStep2?sign=" + response.sign + "&chart_code=" + chart_code;
                    } else {
                        /// 改變驗證碼
                        $(".error").html("Error: " + response.msg + ",請重新輸入!")

                        /// 改變驗證碼
                        var captchaImgSrc = $(".captcha-img").attr("src")
                        $("#chart_code").val("")
                        $(".captcha-img").attr("src", captchaImgSrc + "?reload=" + (new Date()).getTime())
                    }
                })
            })
        })
    </script>
    </body>
</html>